.w-1{width:1%!important}
.w-2{width:2%!important}
.w-3{width:3%!important}
.w-4{width:4%!important}
.w-5{width:5%!important}
.w-6{width:6%!important}
.w-7{width:7%!important}
.w-8{width:8%!important}
.w-9{width:9%!important}
.w-10{width:10%!important}
.w-11{width:11%!important}
.w-12{width:12%!important}
.w-13{width:13%!important}
.w-14{width:14%!important}
.w-15{width:15%!important}
.w-16{width:16%!important}
.w-17{width:17%!important}
.w-18{width:18%!important}
.w-19{width:19%!important}
.w-20{width:20%!important}
.w-30{width:30%!important}
.w-40{width:40%!important}
.w-50{width:50%!important}
.w-60{width:60%!important}
.w-70{width:70%!important}
.w-80{width:80%!important}
.w-90{width:90%!important}
.w-95{width:95%!important}
.w-5px{width:5px!important}
.w-10px{width:10px!important}
.w-20px{width:20px!important}
.w-30px{width:30px!important}
.w-40px{width:40px!important}
.w-50px{width:50px!important}
.w-60px{width:60px!important}
.w-70px{width:70px!important}
.w-80px{width:80px!important}
.w-90px{width:90px!important}
.w-100px{width:100px!important}
.w-150px{width:150px!important}
.w-160px{width:160px!important}
.w-200px{width:200px!important}
.w-250px{width:250px!important}
.w-300px{width:300px!important}
.flat{border-radius:0!important}
.swal2-popup{border-radius:0!important}
.tbayar > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    line-height: 1.42857143;
	font-size: 12pt;
}
.modal-header .btnGrp {
    position: absolute;
    top: 8px;
    right: 10px;
}

.min {
    width: 224px;
    height: 35px;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0px;
    
    float: left;
    position: static !important;
}

.min .modal-dialog,
.min .modal-content {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.min .modal-header {
    background: #d90036;
    color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 3px 5px !important;
}

.display-block {
    display: block;
}
.display-none {
    display: none;
}

.min .fa {
    font-size: 14px;
}

.min .menuTab {
    display: none;
}

button:focus {
    outline: none;
}

.minmaxCon {
    width: 224px;
    height: 35px;
    bottom: 1px;
    left: 1px;
    position: fixed;
    right: 1px;
    z-index: 9999;
}
/*		Sweet Alert		*/
.swal-footer {
    text-align: center !important;
margin-bottom: 20px !important; }
/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SCROLLBAR DYNAMIC ***************/

.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-dynamic > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
    bottom: 2px;
    height: 7px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 7px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
    opacity: 0.3;
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.scrollbar-dynamic > .scroll-element .scroll-element_size {
    background-color: #cccccc;
    opacity: 0;
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.scrollbar-dynamic > .scroll-element .scroll-bar {
    background-color: #6c6e71;
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* scrollbar height/width & offset from container borders */

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
    bottom: 0;
    height: 7px;
    min-width: 24px;
    top: auto;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
    left: auto;
    min-height: 24px;
    right: 0;
    width: 7px;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
    bottom: 0;
    top: auto;
    left: 2px;
    
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    -ms-transition: height 0.2s;
    transition: height 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;
    
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -ms-transition: width 0.2s;
    transition: width 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size { top: -4px; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }


/* hover & drag */

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
    overflow: hidden;
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
    opacity: 1;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    height: 100%;
    width: 100%;
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
    height: 20px;
    min-height: 7px;
}
.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    min-width: 7px;
    width: 20px;
}
/******************* WINDOWS VISTA SCROLLBAR *******************/

.scrollbar-vista > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-vista > .scroll-content.scroll-scrollx_visible { top:  -17px; margin-top:  17px; }


.scrollbar-vista > .scroll-element {
    background-color: #fcfdff;
}

.scrollbar-vista > .scroll-element,
.scrollbar-vista > .scroll-element div
{
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-vista > .scroll-element .scroll-element_outer,
.scrollbar-vista > .scroll-element .scroll-element_size,
.scrollbar-vista > .scroll-element .scroll-element_inner-wrapper,
.scrollbar-vista > .scroll-element .scroll-element_inner,
.scrollbar-vista > .scroll-element .scroll-bar,
.scrollbar-vista > .scroll-element .scroll-bar div
{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-vista > .scroll-element .scroll-element_outer,
.scrollbar-vista > .scroll-element .scroll-element_size,
.scrollbar-vista > .scroll-element .scroll-element_inner-wrapper,
.scrollbar-vista > .scroll-element .scroll-bar_body
{
    background: none !important;
}


.scrollbar-vista > .scroll-element.scroll-x {
    border-top: solid 1px #fcfdff;
    bottom: 0;
    height: 16px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.scrollbar-vista > .scroll-element.scroll-y {
    border-left: solid 1px #fcfdff;
    height: 100%;
    min-height: 100%;
    right: 0;
    top: 0;
    width: 16px;
}

.scrollbar-vista > .scroll-element.scroll-x div {
    background-image: url('skins/vista-x.png');
    background-repeat: repeat-x;
}

.scrollbar-vista > .scroll-element.scroll-y div {
    background-image: url('skins/vista-y.png');
    background-repeat: repeat-y;
}

.scrollbar-vista > .scroll-element.scroll-x .scroll-arrow {}

.scrollbar-vista > .scroll-element.scroll-x .scroll-bar { min-width: 16px; background-position: 0px -34px; background-repeat: no-repeat; }
.scrollbar-vista > .scroll-element.scroll-x .scroll-bar_body { left: 2px; }
.scrollbar-vista > .scroll-element.scroll-x .scroll-bar_body-inner { left: -4px; background-position: 0px -17px; }
.scrollbar-vista > .scroll-element.scroll-x .scroll-bar_center { left: 50%; margin-left: -6px; width: 12px; background-position: 24px -34px; }
.scrollbar-vista > .scroll-element.scroll-x .scroll-bar_bottom { left: auto; right: 0; width: 2px; background-position: 37px -34px; }


.scrollbar-vista > .scroll-element.scroll-y .scroll-bar { min-height: 16px; background-position: -34px 0px; background-repeat: no-repeat; }
.scrollbar-vista > .scroll-element.scroll-y .scroll-bar_body { top: 2px; }
.scrollbar-vista > .scroll-element.scroll-y .scroll-bar_body-inner { top: -4px; background-position: -17px 0px; }
.scrollbar-vista > .scroll-element.scroll-y .scroll-bar_center { top: 50%; margin-top: -6px; height: 12px; background-position: -34px 24px; }
.scrollbar-vista > .scroll-element.scroll-y .scroll-bar_bottom { top: auto; bottom: 0; height: 2px; background-position: -34px 37px; }



/* SCROLL ARROWS */

.scrollbar-vista > .scroll-element .scroll-arrow { display: none; }
.scrollbar-vista > .scroll-element.scroll-element_arrows_visible .scroll-arrow { display: block; z-index: 12; }


.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_less { height: 100%; width: 17px; background-position: 0px -51px;}
.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_more { height: 100%; left: auto; right: 0; width: 17px; background-position: 17px -51px;}

.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_outer { left: 17px; }
.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_inner { left: -34px; }
.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_size { left: -34px; }


.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_less { width: 100%; height: 17px; background-position: -51px 0px;}
.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_more { width: 100%; top: auto; bottom: 0; height: 17px; background-position: -51px 17px;}

.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_outer { top: 17px; }
.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_inner { top: -34px; }
.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_size { top: -34px; }


/* PROCEED OFFSET IF ANOTHER SCROLL VISIBLE */

.scrollbar-vista > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -17px; }
.scrollbar-vista > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -17px; }

.scrollbar-vista > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_inner { left: -17px; }
.scrollbar-vista > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_inner { top: -17px; }


/* PROCEED OFFSET IF ARROWS & ANOTHER SCROLL */

.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-arrow_more { right: 17px;}
.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_inner { left: -51px;}
.scrollbar-vista > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_size { left: -51px;}


.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-arrow_more { bottom: 17px;}
.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_inner { top: -51px;}
.scrollbar-vista > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_size { top: -51px;}
.table td, .table th {
    padding:6px;
    
}
.btn-group-sm > .btn, .customs {
    padding:5px;
    line-height: 1;
}
.aksi{padding:5px 5px 0 5px!important}
.nav-tabs {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	border: none;
}
.nav-tabs .nav-link{
	border: none;
	border-radius: 0;
	transition: color .2s ease-out;
}
.tabs-dark .nav-link {
	color: #fff;
}
.tabs-light .nav-link {
	color: rgba(0,0,0,.5);
}
.tabs-dark .nav-link:not(.active):hover {
	color: #aeb0b3;
}
.tabs-light .nav-link:not(.active):hover {
	color: #495057;
}

.nav-pills .nav-link{
	border-radius: 2px;
	color: #495057;
	transition: color .2s ease-out, box-shadow .2s;
}
.nav-pills .nav-link:hover{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	
}
.nav-pills .nav-item {
	margin: 0 5px;
}
.nav-pills.pills-dark .nav-link.active {
	background-color: #343a40!important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.nav-pills.pills-dark .nav-link:not(.active):hover {
	color: #1d1e22;
}
.tabs-marker .nav-link {
	position: relative;
}
.tabs-marker .nav-link.active .marker {
	height: 30px;
	width: 30px;
	left: 50%;
	bottom: -30px;
	transform: translatex(-50%);
	position: absolute;
	overflow: hidden;
}
.tabs-marker .nav-link.active .marker:after {
	content: "";
	height: 15px;
	width: 15px;
	top: -8px;
	left: 50%;
	transform: rotate(45deg) translatex(-50%);
	transform-origin: left;
	background-color: #fff;
 	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	position: absolute;
}

.modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
	width: 400px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right .modal-dialog {
	position:fixed;
	left: 0;
	margin: auto;
	width: 800px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

.right.modal-footer {
    border-radius: 0;
    bottom:0px;
    position:fixed;
    width:100%;
    background:#fff;
}
@media (max-width: 768px) {
    .modal.left .modal-dialog {
        position:fixed;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
    
    .modal.left .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }
    
    .modal.right .modal-dialog {
        position:fixed;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
    
    .modal.right.show .modal-dialog {
        right: 0;
    }
    
    .right.modal-footer {
        border-radius: 0;
        bottom:0px;
        position:fixed;
        width:100%;
        background:#fff;
    }
}


.tab-vertical .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom: 0;
}

.tab-vertical .nav.nav-tabs .nav-item {
    margin-bottom: 6px;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    
    background: #fff;
    padding: 10px;
    color: #71748d;
    background-color: #dddde8;
    
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #5969ff;
    background-color: #fff !important;
    border-color: transparent !important;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    
}

.tab-vertical .tab-content {
    overflow: auto;
    -webkit-border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    background: #fff;
    padding: 0 30px;
}


.over-user{max-height:200px;overflow:auto}
.over-profile{max-height:350px;overflow:auto}

fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

.modal-backdrop {
    background-color: #64B5F6
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

@media screen and (max-width: 768px) {
    .tabs h6 {
        font-size: 12px
    }
}
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

input,select,textarea {
	border: 2px solid currentcolor;
}
input:invalid {
	border: 2px solid red;
}
select:invalid {
	border: 2px solid red;
}
textarea:invalid {
	border: 2px solid red;
}
input:invalid:focus {
	background-image: #ececfb;
}
select:invalid:focus {
	background-image: #ececfb;
}
textarea:invalid:focus {
	background-image: #ececfb;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}
main h1 {
    float: left;
}
main table {
    width: 100%;
}
@media (min-width: 600px) {
    main table tr {
        display: flex;
        justify-content: space-evenly;
    }
    main table tr[property] th {
        display: none;
    }
}
@media (max-width: 599px) {
    main table tr:first-child {
        display: none;
    }
}
main table tr:nth-child(even) {
    background: #EEE;
}
main table tr.mv-deleted {
    padding: 10px 10px;
}
main table tr button.mv-close {
    padding: 4px 3px 3px;
    margin-top: 3px;
    margin-right: 3px;
}
main table tr button.mv-undo {
    border: 1px solid #fff;
    background: #fff;
    padding: 7px 20px;
    cursor: pointer;
}
main table tr button.mv-undo:hover {
    background: #4CAF50;
    color: #fff;
}
main table tr td, main table tr th {
    width: 100%;
    padding: 10px;
}
@media (max-width: 599px) {
    main table tr td, main table tr th {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-weight: 400 !important;
        font-size: 18px !important;
    }
    main table tr th {
        background: #fff !important;
        color: #000 !important;
    }
    main table tr td:not(:first-of-type) {
        background: #EEE;
    }
}
@media (min-width: 600px) {
    main table tr td:last-child, main table tr th:last-child {
        max-width: 100px !important;
    }
}
main table tr th {
    background: #4CAF50;
    border: #4CAF50;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}
main table tr th:first-child {
    text-align: left;
}
@media (min-width: 600px) {
    main table tr td {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 599px) {
    main table tr td:first-child {
        background: #4CAF50;
        color: #fff;
        font-size: 21px !important;
    }
}
main table tr td:not(:first-child) {
    justify-content: center;
}
main table tr td:not(:first-child) input {
    text-align: center !important;
}
main table tr td input.mv-editor {
    width: 100% !important;
    -webkit-appearance: none !important;
    outline: 0 !important;
}
main table tr td input.mv-editor:focus {
    padding: 5px 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-appearance: none !important;
}
main table tr td.mv-item-bar.mv-ui, main table tr td.mv-item-bar.mv-ui[hidden] {
    position: static;
    opacity: 1;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
}
@media (max-width: 599px) {
    main table tr td.mv-item-bar.mv-ui, main table tr td.mv-item-bar.mv-ui[hidden] {
        background: #fff;
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}
main table tr td.mv-item-bar.mv-ui button, main table tr td.mv-item-bar.mv-ui[hidden] button {
    border-radius: 0;
    background: #fff;
}
main table tr td.mv-item-bar.mv-ui button:hover, main table tr td.mv-item-bar.mv-ui[hidden] button:hover {
    border-radius: 0;
}
main .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
main .bar .saved {
    color: #4CAF50;
    font-size: 18px;
    display: none;
    padding-left: 35px;
}
main .mv-bar.mv-ui, main .mv-bar.mv-ui.mv-compact {
    float: right;
    margin-bottom: 25px;
    background: transparent;
    position: static !important;
}
main .mv-bar.mv-ui .mv-button, main .mv-bar.mv-ui button, main .mv-bar.mv-ui button:focus, main .mv-bar.mv-ui.mv-compact .mv-button, main .mv-bar.mv-ui.mv-compact button, main .mv-bar.mv-ui.mv-compact button:focus {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none !important;
    border: 1px solid #4CAF50;
    background: #4CAF50 !important;
    color: #fff;
    padding: 10px 25px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
    transition: all .3s;
    margin-left: 15px;
    text-shadow: none !important;
}
main .mv-bar.mv-ui .mv-button:before, main .mv-bar.mv-ui button:before, main .mv-bar.mv-ui button:focus:before, main .mv-bar.mv-ui.mv-compact .mv-button:before, main .mv-bar.mv-ui.mv-compact button:before, main .mv-bar.mv-ui.mv-compact button:focus:before {
    display: none !important;
}
main .mv-bar.mv-ui .mv-button:hover, main .mv-bar.mv-ui button:hover, main .mv-bar.mv-ui button:focus:hover, main .mv-bar.mv-ui.mv-compact .mv-button:hover, main .mv-bar.mv-ui.mv-compact button:hover, main .mv-bar.mv-ui.mv-compact button:focus:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.2);
}
main .mv-bar.mv-ui .mv-button.mv-drag-handle, main .mv-bar.mv-ui button.mv-drag-handle, main .mv-bar.mv-ui button:focus.mv-drag-handle, main .mv-bar.mv-ui.mv-compact .mv-button.mv-drag-handle, main .mv-bar.mv-ui.mv-compact button.mv-drag-handle, main .mv-bar.mv-ui.mv-compact button:focus.mv-drag-handle {
    border: none !important;
    padding: 2px 0 0 10px !important;
    font-size: 30px !important;
    background: transparent !important;
}
.mv-add.mv-ui:not(.mv-add-row5) {
    display: none !important;
}
main .mv-add-row5 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: 1px solid #4CAF50;
    background: #4CAF50;
    color: #fff;
    padding: 14px 25px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 15px;
}
.mv-bar.mv-ui {
    padding: 0;
}
main .mv-add-row5:hover {
    transform: scale(1.1);
}

[mv-app].mv-highlight-unsaved .mv-unsaved-changes {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.svg {
    display: flex;
    justify-content: center;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	background-color: #EEEEEE;
	cursor: not-allowed;
	pointer-events: none;
}
@media print{
    body{margin:0;}
    .no-print{display:none;}
    #wrapper{padding-left:0;}
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:3px;}
    h1,h2,h3{font-weight:bold; text-transform:uppercase;}
    h1{font-size:25px;}
    h2{font-size:22px;}
    h3{font-size:19px;}

}

/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        min-width:227px;
        max-height:300px;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}